[defaults]

#--- General settings
interpreter_python       = /usr/bin/python3 

#--- Files/Directory settings
inventory                = ~/Projetos/Ansible-Debian-Workstation

#--- Users settings
remote_user              = mcnd2
sudo_user                = mcnd2

#--- SSH settings
host_key_checking       = false

#--- Privilege_scalation
become                   = True
become_method            = sudo
become_user              = root

#--- Use the YAML callback plugin.
stdout_callback         = yaml

#--- Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks   = True

#--- Deprecation warnings
deprecation_warnings    = False

#--- 
command_warnings        = False