[defaults]

#--- General settings
interpreter_python       = /usr/bin/python3 
#forks                   = 5
#log_path                = /var/log/ansible.log
#module_name             = command
#executable              = /bin/bash
#ansible_managed         = Ansible managed

#--- Files/Directory settings
inventory                = ~/Projetos/Ansible-Debian-Workstation
#library                 = /usr/share/my_modules
#remote_tmp              = ~/.ansible/tmp
#local_tmp               = ~/.ansible/tmp
#roles_path              = /etc/ansible/roles

#--- Users settings
remote_user              = mcnd2
sudo_user                = mcnd2
#ask_pass                 = no
#ask_become_pass          = no

#--- SSH settings
#remote_port             = 22
#timeout                 = 10
#host_key_checking       = false
#ssh_executable          = /usr/bin/ssh
private_key_file         = /home/mcnd2/.ssh/debiandesk_id_rsa

#[privilege_scalation]
become                   = True
become_method            = sudo
become_user              = root
#become_ask_pass         = False

#[ssh_connection]
#scp_if_ssh              = smart
#transfer_method         = smart
#retries                 = 3

#--- Use the YAML callback plugin.
stdout_callback = yaml

#--- Use the stdout_callback when running ad-hoc commands.
bin_ansible_callbacks = True
