UpdateInterval=0
TimeScale=0
Size=80
Mode=1
Frame=1
Border=1
Bars=0
TrackedCore=0
Command=gnome-system-monitor
InTerminal=0
StartupNotification=1
ColorMode=1
Foreground1=rgb(234,99,31)
Foreground2=rgb(253,52,0)
Background=rgb(0,0,0)
BarsColor=rgb(255,85,0)
PerCore=0

