UpdateInterval=0
TimeScale=0
Size=80
Mode=1
Frame=1
Border=1
Bars=1
TrackedCore=0
Command=gnome-system-monitor
InTerminal=0
StartupNotification=1
ColorMode=1
Foreground1=#eaf662ea1f44
Foreground2=#fdaf34590000
Foreground3=#00000000ffff
Background=#000000000000
BarsColor=#ffff55860000

