[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gabriel/Área de trabalho/minecraft-launcher.desktop]
row=8
col=0

[/home/gabriel/Área de trabalho/firefox-esr.desktop]
row=8
col=1

[Lixeira]
row=8
col=2

[/home/gabriel]
row=8
col=3

