[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/glauber.fonseca/Área de trabalho/Captura de tela_2019-11-15_17-09-18.png]
row=0
col=0

[/home/glauber.fonseca/Área de trabalho/BEMOBI]
row=0
col=16

[/home/glauber.fonseca]
row=0
col=17

[Lixeira]
row=1
col=17

