[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/glauber.fonseca/Área de trabalho/REUNIAO_24-06-2020.txt]
row=2
col=2

[/home/glauber.fonseca/Área de trabalho/robert-half-2020-guia-salarial_0.pdf]
row=5
col=2

[/home/glauber.fonseca/Área de trabalho/filezilla.desktop]
row=5
col=1

[/home/glauber.fonseca/Área de trabalho/franz.desktop]
row=8
col=1

[/home/glauber.fonseca/Área de trabalho/BEMOBI]
row=6
col=2

[/home/glauber.fonseca/Área de trabalho/com.getpostman.Postman.desktop]
row=4
col=2

[/home/glauber.fonseca/Área de trabalho/exo-terminal-emulator.desktop]
row=6
col=1

[/home/glauber.fonseca/Área de trabalho/Regulamento - Programa Bootcamps IGTI 2020-3.pdf]
row=0
col=1

[/home/glauber.fonseca/Área de trabalho/nocredit_oi.txt]
row=6
col=0

[/home/glauber.fonseca/Área de trabalho/PDI - 25-08 a 31-12-2020.txt]
row=7
col=0

[/home/glauber.fonseca/Área de trabalho/TIM_SubscriptionJobs2.txt]
row=4
col=0

[/home/glauber.fonseca/Área de trabalho/FERIAS_2020-07-31_23-08.png]
row=5
col=0

[/home/glauber.fonseca/Área de trabalho/google-chrome.desktop]
row=2
col=0

[/home/glauber.fonseca/Área de trabalho/bash.pdf]
row=7
col=1

[/home/glauber.fonseca/Área de trabalho/2020-09_ROTINA_NOTURNA.ods]
row=1
col=1

[/home/glauber.fonseca/Área de trabalho/proxy_wapoi01-02.txt]
row=2
col=1

[/home/glauber.fonseca/Área de trabalho/Copiar_arquivos_das_proxy_wapoi01e02_para_nfsLogs_Acesso_WAP2020.txt]
row=8
col=0

[/home/glauber.fonseca/Área de trabalho/flameshot.desktop]
row=4
col=1

[/home/glauber.fonseca/Área de trabalho/wallpaper_celular.png]
row=3
col=0

[/home/glauber.fonseca/Área de trabalho/openfortigui.desktop]
row=3
col=2

[/home/glauber.fonseca/Área de trabalho/Reunião do 1 on 1.txt]
row=3
col=1

[/home/glauber.fonseca/Área de trabalho/firefox-esr.desktop]
row=0
col=2

[/home/glauber.fonseca/Área de trabalho/Command_Bash.txt]
row=1
col=2

[Lixeira]
row=0
col=0

[/home/glauber.fonseca]
row=1
col=0

