[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/gabriel/Área de trabalho/minecraft-launcher.desktop]
row=3
col=0

[/home/gabriel/Área de trabalho/firefox-esr.desktop]
row=2
col=0

[Lixeira]
row=0
col=0

[/home/gabriel]
row=1
col=0

