[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/glauber.fonseca/Área de trabalho/filezilla.desktop]
row=0
col=11

[/home/glauber.fonseca/Área de trabalho/Uma introdução ao RabbitMQ - O que é RabbitMQ?.odt]
row=0
col=2

[/home/glauber.fonseca/Área de trabalho/franz.desktop]
row=0
col=12

[/home/glauber.fonseca/Área de trabalho/BEMOBI]
row=0
col=16

[/home/glauber.fonseca/Área de trabalho/script_iam.txt]
row=0
col=1

[/home/glauber.fonseca/Área de trabalho/busca de logs]
row=0
col=0

[/home/glauber.fonseca/Área de trabalho/exo-terminal-emulator.desktop]
row=0
col=9

[/home/glauber.fonseca/Área de trabalho/google-chrome.desktop]
row=0
col=13

[/home/glauber.fonseca/Área de trabalho/FT_iCLAMPER-Energia-8_00_port.pdf]
row=1
col=0

[/home/glauber.fonseca/Área de trabalho/flameshot.desktop]
row=0
col=10

[/home/glauber.fonseca/Área de trabalho/openfortigui.desktop]
row=0
col=14

[/home/glauber.fonseca/Área de trabalho/com.getpostman.Postman.desktop]
row=0
col=8

[Lixeira]
row=6
col=0

[/home/glauber.fonseca]
row=2
col=0

